{
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "ebAlm",
  "password": "1234",
  "database": "nestjsrealworld",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "synchronize": true
}